select {
  box-shadow: var(--boxShadow);
  font-size: 15px;
  padding: 9px 36px 9px 29px;
  background-color: var(--pink);
  color: #ffffff;
  border: 0;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.customDropdown {
  position: relative;
}
.customDropdown select option{
  /* font-weight: bold; */
  font-size: 24px;
}
.customDropdownIconCont {
  display: flex;
  align-items: center;
}
.customDropdownIcon {
  position: absolute;
  left: 10px;
}
.customDropdownArrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 2rem;
  background: var(--midBlue);
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}
.customDropdownArrow::before,
.customDropdownArrow::after {
  --size: 0.5em;
  --arrow: rgba(255, 255, 255, 0.766);
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customDropdownArrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--arrow);
  top: 35%;
}
.customDropdownArrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--arrow);
  top: 65%;
}
