.navMain {
  display: grid;
  place-content: center;
  justify-items: center;
  background: var(--lightBlueBackground);
  background: var(--bgLineGradBlue);
}
.navMainLine {
  content: "";
  width: 97vw;
  height: 2px;
  background-color: var(--lightBlue);
}
