.navSec {
  display: flex;
  max-width: 1200px;
  width: 100vw;
  flex-wrap: wrap;
}

.navSec .navTop {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.navTop:nth-child(1){
  flex: 0.8;
  margin: 0;
}
.navTop:nth-child(2),
.navTop:nth-child(4) {
  flex: 1;
}
.navLogo {
  color: #f1ebeb;
  font-family: ui-sans-serif;
}
