.navSearchCont{
  width: 100%;
}
.navSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navSearch input {
  padding: 9px 35px 9px 15px;
    border: none;
    border-radius: 6px;
    height: 100%;
    font-size: 15px;
    box-shadow: 0 0px 25px 20px rgb(255 244 163 / 16%);
    background-color: #a6e4ff !important;
    color: rgb(62, 56, 56);
    text-overflow: ellipsis;
    width: -webkit-fill-available ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navSearch input::placeholder {
  color: rgb(119, 110, 110);
}
.navSearch input:focus-visible {
  outline: none;
}


.navSearchIcon {
  position: absolute;
  right: 0.6em;
  cursor: pointer;
}
