:root {
  --lightPink: #ffbfe9;
  --lightBlue: #a6e4ff;
  --midBlue: #72d4ff;
  --lightYellow: #fff4a4;
  --lightGreen: #ace1d5;
  --pink: #faafff;
  --lightText: #838080;
  --lightTitle: #6d6d6d;
  --lightBlueBackground: #e4f8ff;
  --lightPinkBackground: #ffeffa;
  --bgLineGradBlue: linear-gradient(
    174deg,
    rgba(227, 248, 255, 1) 0%,
    rgba(254, 235, 255, 1) 100%
  );
  --bgRadiGradPink: radial-gradient(
    circle,
    rgba(227, 248, 255, 1) 0%,
    rgb(251, 213, 253) 100%
  );
  --boxShadow: 0px 0px 20px 5px rgb(0 0 0 / 13%);
  --font1: "Alegreya", serif;
  --font2: "BioRhyme", serif;
  --font3: "Eczar", serif;
  --font4: "Goblin One", cursive;
  --font5: "Inknut Antiqua", serif;
  --font6: "Rakkas", cursive;
  --font7: "Arvo", serif;
  --fontDesc: "Lora", serif;
}
.centerADiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #a8e5ff82;
}
/* *{
  border:0.05px solid rgb(0, 255, 0) ;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
