:root{
 --lightPink: #ffbfe9;
 --lightBlue: #a6e4ff;
 --midBlue: #72d4ff;
 --lightYellow: #fff4a4;
 --lightGreen: #ace1d5;
 --pink: #faafff;
 --lightText: #838080;
 --lightTitle:#6d6d6d;
 --lightBlueBackground: #e4f8ff;
  --lightPinkBackground:#ffeffa;
 --boxShadow: 0px 0px 20px 5px rgb(0 0 0 / 13%);
}
.centerADiv{
  display: flex;
  align-items: center;
  justify-content: center;
}



/* *{
  border:0.05px solid rgb(0, 255, 0) ;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
